:host{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 737px;
    min-height: 425px;
    background-color: white;
    padding: 0 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


