<div class="container-form">
    <h1>Zresetuj hasło</h1>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <!-- Email -->
        <mat-form-field appearance="fill">
            <mat-label>e-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <!-- Submit -->
        <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid">Zresetuj hasło</button>

        <!-- Error -->
        <div class="error">
            <mat-error *ngIf="resetErrorMsg">{{resetErrorMsg}}</mat-error>
        </div>

    </form>
</div>